
<table class="w-full">
  <tr>
    <td align="center" class="px-[20px] pt-[20px]">
      <table class="w-full">
        <tr>
          <td class="align-top w-[110px] sm:w-[200px]">
            <a href="#" class="pointer-events-none cursor-none no-underline">
              <x-image
              class="w-[110px] "
              imgUrl="header-logo.jpg" alt="header-logo"
            /></a>
          </td>
          <!-- Text content -->
          <td class="align-middle w-[470px] text-[12px] leading-[16px] pr-[80px] pl-[20px] text-[#002B2B] sm:pr-[10px]">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
          </td>
          <!--text ends-->
        </tr>
      </table>
    </td>
  </tr>
</table>

