
<table width="100%" style="background-color: #f0f5f5; padding: 16px;" class="p-4">
  <!-- Title Row -->
  <tr>
    <td align="center" class="p-4">
      <h2 style="font-size: 20px; color: #005555; margin: 0; font-weight: bold; padding-top: 18px;">
        Sint cupidatat occaecat ut
      </h2>
    </td>
  </tr>
  <!-- Two Cards Row -->
  <tr>
    <td align="center" class="pt-[20px] px-[20px] pb-[40px]">
      <table class="w-full">
        <tr class="w-full sm:grid sm:grid-cols-1 sm:gap-2">
          <td align="center" class="w-[270px] sm:w-full bg-[#ffffff] p-[24px]">
            <!-- Image Placeholder -->
            <table class="w-full align-center-table" align="center">
              <tr>
                <td class="align-center-table pb-[18px]">
                  <x-image
                  class="w-[100px]"
                  imgUrl="icon-round.png" alt="icon"
                /></a></td>
              </tr>
              <tr>
                <td class="text-[#005555] text-[16px] text-center font-bold pb-[18px] leading-[22px]">
                  Nisi ut ade
              </td>
              </tr>
              <tr>
                <td class="text-[#444444] text-[14px] text-center pb-[18px] leading-[22px]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup class="text-superscript top-sup-offset text-[9px]">1</sup>
              </td>
              </tr>
            </table>
            
           
          </td>
          <td class="p-2" style="padding: 10px;"></td>
          <td align="center" class="w-[270px] sm:w-full bg-[#ffffff] p-[24px]">
            <!-- Image Placeholder -->
            <table class="w-full align-center-table" align="center">
              <tr>
                <td class="align-center-table pb-[18px]">
                  <x-image
                  class="w-[100px]"
                  imgUrl="icon-round.png" alt="icon"
                /></a></td>
              </tr>
              <tr>
                <td class="text-[#005555] text-[16px] text-center font-bold pb-[18px] leading-[22px]">
                  Duis aute irure
              </td>
              </tr>
              <tr>
                <td class="text-[#444444] text-[14px] text-center pb-[18px] leading-[22px]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup class="text-superscript top-sup-offset text-[9px]">2</sup>
              </td>
              </tr>
            </table>
            
            
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>




