<table class="w-full">
  <tr>
    <!-- header content -->
    <td class="text-center text-[23px] leading-[28px] text-[#005555] pt-[30px] px-[40px]">
      <strong>Excepteur sint occaecat cupidatat</strong>
  </td>
  <!--header ends-->
  </tr>
  <tr>
    <td class="text-[#444444] text-[17px] text-center pt-[20px] leading-[20px] px-[40px]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  </td>
  </tr>
  <tr>
    <td class="align-center-table pt-[30px] pb-[30px]">
      
      <a href="#" class="bg-[#008080] text-[#ffffff] rounded-[10px] font-bold py-[10px] px-[40px]">
        Ut enim ad minim veniam
      </a>
    </td>
  </tr>
</table>
